@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker__header{
  padding: 0 !important;
}
.react-datepicker__day-names{
  background-color: white !important;
  padding: 8px 0 !important;
  border-bottom: 2px solid #e5e7eb !important;
}
.react-datepicker__day{
  color: oklch(21% 0.034 264.665) !important;
  width: 27.19px !important;
  height: 27.19px !important;
  border-radius: 100% !important;
  line-height: 1.6 !important;
}
.react-datepicker__day:hover{
  background-color: #067dd7 !important;
  color:white !important;
}

.react-datepicker__day--outside-month{
color: oklch(87.2% 0.01 258.338) !important; 
}
.react-datepicker__day--selected{
  color: white !important;
}

